.navbar2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  height: 70px;
  background-color: #242526;
  border-bottom: 1px solid #434242;
  position: sticky;
  top: 0;
  width: 100%;

  .left2 {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 5px;

    h6 {
      font-size: 25px;
      font-weight: bold;
      color: #fff;
    }
    p {
      font-size: 18px;
      font-weight: 700;
      color: #b0b3b8;
    }
  }

  .right2 {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 25px;
    height: 70px;
    .notif_icon {
      position: relative;
      i {
        font-size: 18px;
        color: #b0b3b8;
      }
      .count {
        position: absolute;
        top: -10px;
        right: -10px;
        height: 18px;
        width: 18px;
        background-color: red;
        color: #fff;
        border-radius: 50%;
        border: 1px solid #fff;
        display: flex;
        font-size: 14px;
        align-items: center;
        justify-content: center;
      }
    }

    .chat_icon {
      position: relative;
      i {
        font-size: 18px;
        color: #b0b3b8;
      }

      .count {
        position: absolute;
        top: -10px;
        right: -10px;
        height: 18px;
        width: 18px;
        background-color: red;
        color: #fff;
        border-radius: 50%;
        border: 1px solid #fff;
        display: flex;
        font-size: 14px;
        align-items: center;
        justify-content: center;
      }
    }

    .user_icon {
      i {
        font-size: 18px;
        color: #b0b3b8;
      }
    }
  }
}
@media (max-width: 789px) {
  .navbar2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    height: 70px;
    background-color: #242526;
    border-bottom: 1px solid #434242;
    position: sticky;
    top: 0;
    width: 100%;

    .left2 {
      display: flex;
      align-items: center;
      justify-content: start;
      gap: 5px;

      h6 {
        font-size: 25px;
        font-weight: bold;
        color: #fff;
      }
      p {
        font-size: 18px;
        font-weight: 700;
        color: #b0b3b8;
      }
    }

    .right2 {
      display: flex;
      align-items: center;
      justify-content: end;
      gap: 25px;
      height: 70px;
      .notif_icon {
        position: relative;
        i {
          font-size: 18px;
          color: #b0b3b8;
        }
        .count {
          position: absolute;
          top: -10px;
          right: -10px;
          height: 18px;
          width: 18px;
          background-color: red;
          color: #fff;
          border-radius: 50%;
          border: 1px solid #fff;
          display: flex;
          font-size: 14px;
          align-items: center;
          justify-content: center;
        }
      }

      .chat_icon {
        position: relative;
        i {
          font-size: 18px;
          color: #b0b3b8;
        }

        .count {
          position: absolute;
          top: -10px;
          right: -10px;
          height: 18px;
          width: 18px;
          background-color: red;
          color: #fff;
          border-radius: 50%;
          border: 1px solid #fff;
          display: flex;
          font-size: 14px;
          align-items: center;
          justify-content: center;
        }
      }

      .user_icon {
        i {
          font-size: 18px;
          color: #b0b3b8;
        }
      }
    }
  }
}
