.signup {
  position: absolute;
  width: 450px;
  height: auto;
  background-color: #242526;
  z-index: 999;
  left: 0;
  right: 0;
  margin: auto;
  top: 30px;
  padding: 20px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 10px;

  .close-button {
    display: flex;
    width: 100%;
    justify-content: end;

    i {
      color: #b0b3b8;
      font-size: 18px;
      cursor: pointer;
    }
  }

  .top {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    gap: 5px;
    margin: 10px 0 30px 0;

    h6 {
      font-size: 18px;
    }
    span {
      font-size: 14px;
      color: blue;
      cursor: pointer;
      font-weight: 700;
    }
  }

  .signin-wrapper {
    form {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 10px;
    }

    input {
      height: 35px;
      padding-left: 10px;
      border: none;
      background-color: #3a3b3c;
      font-size: 16px;
      color: #b0b3b8;
      border-radius: 5px;
    }
    input:focus {
      outline: none;
      border: 1px solid #434242;
    }
    input::placeholder {
      font-size: 14px;
      color: #b0b3b8;
    }
    .showpass {
      display: flex;
      align-items: center;
      margin-left: 10px;
      gap: 5px;
      margin-bottom: 10px;

      input {
        height: 12px;
        width: 12px;
      }
      span {
        font-size: 12px;
        color: var(--secondary-text-color);
      }
    }
    button {
      border: none;
      border-radius: 5px;
      padding: 10px;
      background-color: green;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    button:hover {
      color: #b0b3b8;
    }
  }

  .signup-wrapper {
    form {
      display: flex;
      width: 100%;
      flex-direction: column;
      gap: 10px;
    }
    input {
      height: 35px;
      padding-left: 10px;
      border: none;
      background-color: #3a3b3c;
      font-size: 16px;
      color: #b0b3b8;
      border-radius: 5px;
    }
    input:focus {
      outline: none;
      border: 1px solid #434242;
    }
    input::placeholder {
      font-size: 14px;
      color: #b0b3b8;
    }
    .showpass {
      display: flex;
      align-items: center;
      margin-left: 10px;
      gap: 5px;
      margin-bottom: 10px;

      input {
        height: 15px;
        width: 15px;
      }
      span {
        font-size: 12px;
        color: var(--secondary-text-color);
      }
    }
    button {
      border: none;
      border-radius: 5px;
      padding: 10px;
      background-color: green;
      color: #fff;
      font-size: 14px;
      font-weight: 700;
      cursor: pointer;
      display: flex;
      justify-content: center;
      align-items: center;

      //loader
      .loader {
        width: 20px;
        height: 20px;
        border-radius: 50%;
        position: relative;
        animation: rotate 1s linear infinite;
        align-self: center;
      }
      .loader::before {
        content: "";
        box-sizing: border-box;
        position: absolute;
        inset: 0px;
        border-radius: 50%;
        border: 2px solid #fff;
        animation: prixClipFix 2s linear infinite;
      }

      @keyframes rotate {
        100% {
          transform: rotate(360deg);
        }
      }

      @keyframes prixClipFix {
        0% {
          clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
        }
        25% {
          clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
        }
        50% {
          clip-path: polygon(
            50% 50%,
            0 0,
            100% 0,
            100% 100%,
            100% 100%,
            100% 100%
          );
        }
        75% {
          clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
        }
        100% {
          clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
        }
      }
      //loader end
    }
    button:hover {
      color: #b0b3b8;
    }
  }
  .message {
    font-size: 14px;
    text-align: center;
    color: var(--secondary-text-color);
  }
  .messageErr {
    font-size: 14px;
    text-align: center;
    color: red;
  }
}

@media (max-width: 789px) {
  .signup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 100vh;
    width: 100%;
    border-radius: 0;
    z-index: 1000;

    .close-button {
      display: flex;
      width: 100%;
      justify-content: end;

      i {
        color: var(--secondary-text-color);
        font-size: 18px;
        cursor: pointer;
      }
    }

    .top {
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      gap: 5px;
      margin: 10px 0 30px 0;

      h6 {
        font-size: 18px;
      }
      span {
        font-size: 14px;
        color: blue;
        cursor: pointer;
        font-weight: 700;
      }
    }

    .signin-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      form {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 10px;
      }

      input {
        height: 50px;
        padding-left: 20px;
        border: none;
        background-color: #3a3b3c;
        font-size: 20px;
        color: #b0b3b8;
        border-radius: 25px;
      }
      input:focus {
        outline: none;
        border: 1px solid #434242;
      }
      input::placeholder {
        font-size: 14px;
        color: #b0b3b8;
      }

      button {
        border: none;
        border-radius: 25px;
        padding: 10px;
        background-color: green;
        color: #fff;
        font-size: 18px;
        font-weight: 700;
        cursor: pointer;
        height: 50px;
      }
      button:hover {
        color: #fff;
      }
    }
    .cp-wrapper {
      margin-top: 150px;
      form {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 10px;

        input {
          height: 45px;
          padding-left: 20px;
          border-color: 1px solid var(--border-color);
          background-color: var(--button-color);
          font-size: 20px;
          color: var(--secondary-text-color);
          border-radius: 25px;
        }
        input:focus {
          outline: none;
          border: 1px solid var(--border-color);
        }
        input::placeholder {
          font-size: 14px;
          color: var(--secondary-text-color);
          display: flex;
          justify-content: start;
          align-items: center;
        }
        button {
          border: none;
          border-radius: 25px;
          padding: 10px;
          background-color: green;
          color: #fff;
          font-size: 18px;
          font-weight: 700;
          cursor: pointer;
          height: 40px;
        }
        button:hover {
          color: #fff;
        }
      }
    }
    .signup-wrapper {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      form {
        display: flex;
        width: 100%;
        flex-direction: column;
        gap: 10px;

        input {
          height: 45px;
          padding-left: 20px;
          border: none;
          background-color: #3a3b3c;
          font-size: 20px;
          color: #b0b3b8;
          border-radius: 25px;
        }
        input:focus {
          outline: none;
          border: 1px solid #434242;
        }
        input::placeholder {
          font-size: 14px;
          color: #b0b3b8;
          display: flex;
          justify-content: start;
          align-items: center;
        }

        button {
          border: none;
          border-radius: 25px;
          padding: 10px;
          background-color: green;
          color: #fff;
          font-size: 18px;
          font-weight: 700;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          height: 45px;

          //loader
          .loader {
            width: 20px;
            height: 20px;
            border-radius: 50%;
            position: relative;
            animation: rotate 1s linear infinite;
            align-self: center;
          }
          .loader::before {
            content: "";
            box-sizing: border-box;
            position: absolute;
            inset: 0px;
            border-radius: 50%;
            border: 2px solid #fff;
            animation: prixClipFix 2s linear infinite;
          }

          @keyframes rotate {
            100% {
              transform: rotate(360deg);
            }
          }

          @keyframes prixClipFix {
            0% {
              clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
            }
            25% {
              clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
            }
            50% {
              clip-path: polygon(
                50% 50%,
                0 0,
                100% 0,
                100% 100%,
                100% 100%,
                100% 100%
              );
            }
            75% {
              clip-path: polygon(
                50% 50%,
                0 0,
                100% 0,
                100% 100%,
                0 100%,
                0 100%
              );
            }
            100% {
              clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
            }
          }
          //loader end

          p {
            font-size: 14px;
            font-weight: 300;
          }
        }
        button:hover {
          color: #fff;
        }

        .message {
          font-size: 14px;
          text-align: center;
          color: var(--secondary-text-color);
        }
        .messageErr {
          font-size: 14px;
          text-align: center;
          color: red;
        }
      }
    }
  }
}
