@import url("../SCSS/main.scss");

.chat {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--rightbgc);
  overflow-y: auto;

  h6 {
    font-size: 20px;
    color: var(--secondary-text-color);
    margin-left: 20px;
  }

  .chat-content {
    background-color: var(--rightbgc);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 7px;
    overflow-y: auto;

    .topc {
      background-color: var(--border-color);
      border: 1px solid var(--border-color);
      width: 500px;
      border-top-left-radius: 8px;
      border-top-right-radius: 8px;
      padding: 5px 20px;
      background-color: var(--main);
      border: none;
      display: flex;
      justify-content: space-between;
      align-items: center;
      top: 0;
      position: sticky;

      .t-left {
        display: flex;
        align-items: center;
        justify-content: start;
        gap: 5px;

        img {
          height: 40px;
          width: 40px;
        }

        span {
          font-size: 14px;
          font-weight: 500;
          color: var(--primary-text-color);
        }
      }

      .right-buttons {
        display: flex;
        align-items: center;
        gap: 10px;
        .back {
          color: var(--secondary-text-color);
          cursor: pointer;
          font-size: 25px;
        }

        i {
          color: var(--secondary-text-color);
          cursor: pointer;
          font-size: 20px;

          &.reload {
            animation: rotate 0.8s linear infinite; // Rotate faster with 2-second duration
          }
        }

        @keyframes rotate {
          0% {
            transform: rotate(0deg);
          }
          100% {
            transform: rotate(360deg);
          }
        }
      }
    }

    .chat-box {
      height: 100%;
      width: 500px;
      background-color: var(--background-soft);
      padding: 40px 0 0 0;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      overflow-y: auto;
      //border: 1px solid var(--border-color);

      .chat-wrapper {
        display: flex;
        flex-direction: column;
        padding: 10px;
        padding-bottom: 30px;

        .admin {
          display: flex;
          padding-right: 50%;
          flex-direction: column;
          position: relative;

          .icon-chatbot {
            position: absolute;
            top: -12px;
            left: -5px;
            height: 20px;
            width: 20px;
          }

          .chat-card {
            display: flex;
            align-items: center;
            justify-self: start;

            p {
              display: inline-block;
              border-radius: 10px;
              font-size: 16px;
              background-color: #47a992;
              color: #fff;
              max-width: 100%;
              white-space: normal;
              overflow-wrap: break-word;
              word-break: normal;
              padding: 8px;
              border-radius: 15px;
            }
          }
          .c-bot {
            display: flex;
            align-items: center;
            gap: 7px;

            p {
              font-size: 10px;
              color: var(--secondary-text-color);
            }

            .date {
              font-size: 10px;
              color: var(--secondary-text-color);
            }
          }
        }

        .user {
          display: flex;
          flex-direction: column;
          padding-left: 50%;
          align-items: end;
          position: relative;
          cursor: pointer;

          .modal-action {
            position: absolute;
            right: 10px;
            top: -55px;
            z-index: 999;
            height: fit-content;
            padding: 10px 20px;
            width: fit-content;
            background-color: var(--main-bgc);
            border-radius: 10px;
            -webkit-box-shadow: -5px 5px 16px -6px rgba(43, 41, 43, 1);
            -moz-box-shadow: -5px 5px 16px -6px rgba(43, 41, 43, 1);
            box-shadow: -5px 5px 16px -6px rgba(43, 41, 43, 1);

            .content {
              width: 100%;
              height: 100%;
              display: flex;
              flex-direction: column;
              gap: 3px;

              .unreplied,
              .delete {
                color: var(--primary-text-color);
                font-size: 12px;
                cursor: pointer;
                font-weight: 300;
              }
            }
          }

          .chat-card {
            display: flex;
            justify-content: end;

            p {
              display: inline-block;
              border-radius: 10px;
              font-size: 16px;
              background-color: #4bbb8b;
              color: #fff;
              max-width: 100%;
              white-space: normal;
              overflow-wrap: break-word;
              word-break: normal;
              padding: 8px;
              border-radius: 15px;
            }
          }
          .c-bot {
            display: flex;
            align-items: center;
            gap: 7px;

            p {
              font-size: 10px;
              color: var(--secondary-text-color);
            }

            .date {
              font-size: 10px;
              color: var(--secondary-text-color);
            }
          }
        }

        .no-msg {
          display: flex;
          flex-direction: column;
          height: 100%;
          width: 100%;
          justify-content: center;
          align-items: center;

          i {
            font-size: 50px;
            color: var(--button-color);
          }

          span {
            font-size: 18px;
            font-weight: 700;
            color: var(--button-color);
          }
        }
        .no-msg {
          display: flex;
          flex-direction: column;
          height: 200px;
          width: 100%;
          justify-content: center;
          align-items: center;

          i {
            font-size: 50px;
            color: var(--border-color);
          }

          span {
            font-size: 18px;
            font-weight: 700;
            color: var(--border-color);
          }
        }
        .sending {
          display: flex;
          flex-direction: column;
          padding-left: 45%;
          align-items: end;

          .chat-card {
            display: flex;
            justify-content: end;
            flex-direction: column;

            p {
              display: flex;
              border-radius: 10px;
              font-size: 16px;
              background-color: transparent;
              color: #fff;
              max-width: fit-content;
              white-space: normal;
              border: 1px solid var(--border-color);
              word-wrap: break-word;
              overflow-wrap: break-word;
              word-break: break-all;
              padding: 8px;
              border-radius: 15px 15px 0 15px;
            }

            .s {
              font-size: 10px;
              color: var(--secondary-text-color);
            }
          }

          .c-bot {
            display: flex;
            align-items: center;
            gap: 7px;

            p {
              font-size: 10px;
              color: var(--secondary-text-color);
            }

            .date {
              font-size: 10px;
              color: var(--secondary-text-color);
            }
          }
        }

        .loader {
          width: 30px;
          margin-top: 10px;
          aspect-ratio: 2;
          --_g: no-repeat
            radial-gradient(
              circle closest-side,
              var(--secondary-text-color) 90%,
              #0000
            );
          background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
          background-size: calc(100% / 3) 50%;
          animation: l3 1s infinite linear;
        }
        @keyframes l3 {
          20% {
            background-position: 0% 0%, 50% 50%, 100% 50%;
          }
          40% {
            background-position: 0% 100%, 50% 0%, 100% 50%;
          }
          60% {
            background-position: 0% 50%, 50% 100%, 100% 0%;
          }
          80% {
            background-position: 0% 50%, 50% 50%, 100% 100%;
          }
        }
      }

      .input-wrapper1 {
        display: flex;
        align-items: center;
        width: 100%;
        padding: 10px 0 0 0 0;
        bottom: 0;
        position: sticky;
        left: 0;
        right: 0;
        z-index: 100;
        background-color: var(--main-bgc);
        padding: 10px;
        flex-direction: column;

        .suggestions {
          width: 100%;
          justify-content: space-between;
          display: flex;
          gap: 10px;
          margin-top: 5px;

          .suggestion-item {
            font-size: 12px;
            color: var(--secondary-text-color);
            cursor: pointer;
            background-color: var(--border-color);
            padding: 3px 10px;
            border-radius: 10px;
          }
        }

        .input-wrapper2 {
          display: flex;
          justify-content: space-between;
          align-items: center;
          gap: 5px;
          padding: 10px 0 0 0;
          border-top: 1px solid var(--border-color);
          width: 100%;
          margin-top: 10px;

          i {
            font-size: 25px;
            color: var(--secondary-text-color);
            cursor: pointer;
          }

          textarea {
            padding: 10px 30px 10px 15px;
            width: 90%;
            border-radius: 25px;
            background-color: var(--button-color);
            color: var(--secondary-text-color);
            scrollbar-width: none; /* For Firefox */
            border: none;
            max-height: 120px;
            width: 100%;
            height: 30px;
            overflow-y: auto;
            resize: none; /* Disable manual resizing by user */
            box-sizing: border-box;
          }
          textarea:focus {
            outline: none;
            border: none;
          }
        }
        .sendicon {
          font-size: 18px;
          background-color: var(--hover-color);
          padding: 8px;
          border-radius: 50%;
          display: flex;
          color: var(--primary-text-color);
          align-items: center;
          justify-content: center;
          cursor: pointer;

          &.disabled {
            cursor: not-allowed;
            color: var(--main-bgc);
          }
        }

        .sendicon:hover {
          background-color: green;

          &.disabled {
            background-color: var(--hover-color);
          }
        }
      }
    }
  }
}
.messageEnrep {
  position: fixed;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.9);
  bottom: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 2px 10px;
  border-radius: 2px;
  p {
    font-size: 12px;
    color: #fff;
  }
}
.modal-info {
  z-index: 9999;
  top: 50%;
  left: 50%;
  position: fixed;
  transform: translate(-50%, -50%);
  background-color: var(--main-bgc);
  width: 450px;
  height: auto;
  padding: 15px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  .top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    span {
      font-size: 14px;
      color: var(--primary-text-color);
      font-weight: 300;
    }

    i {
      cursor: pointer;
      color: var(--primary-text-color);
      font-size: 18px;
    }
  }

  p {
    font-size: 14px;
    color: var(--primary-text-color);
    font-weight: 300;
  }

  p {
    font-size: 14px;
    color: var(--primary-text-color);
  }
}
.modal-info-overlay {
  position: fixed;
  height: 100vh;
  z-index: 9998;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  width: 100%;
}

@media (max-width: 789px) {
  .chat {
    display: flex;
    flex-direction: column;
    height: 100vh;
    margin-left: 0;

    h6 {
      display: none;
    }

    .chat-content {
      // background-color: var(--background-color);
      display: flex;
      flex-direction: column;
      align-items: center;
      height: 100%;
      width: 100%;
      overflow-y: auto;
      padding: 0;

      .topc {
        width: 100%;
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        padding: 3px 20px;
        background-color: var(--background-soft);
        display: flex;
        justify-content: space-between;
        align-items: center;
        top: 0;
        position: fixed;
        z-index: 999;
        padding-bottom: 10px;

        .t-left {
          display: flex;
          align-items: center;
          justify-content: start;
          gap: 5px;

          img {
            height: 30px;
            width: 30px;
          }

          span {
            font-size: 14px;
            font-weight: 500;
            color: var(--primary-text-color);
          }
        }

        .right-buttons {
          display: flex;
          align-items: center;
          gap: 10px;
          .back {
            color: var(--secondary-text-color);
            cursor: pointer;
            font-size: 25px;
          }

          i {
            color: var(--secondary-text-color);
            cursor: pointer;
            font-size: 20px;

            &.reload {
              animation: rotate 0.8s linear infinite; // Rotate faster with 2-second duration
            }
          }

          @keyframes rotate {
            0% {
              transform: rotate(0deg);
            }
            100% {
              transform: rotate(360deg);
            }
          }
        }
      }

      .chat-box {
        height: 100%;
        width: 100%;
        background-color: var(--background-soft);
        padding-top: 50px;
        padding: 0 10px;
        padding-bottom: 80px;

        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .chat-wrapper {
          display: flex;
          flex-direction: column;
          gap: 3px;
          padding-bottom: 0;
          padding-top: 60px;

          .admin {
            display: flex;
            padding-right: 40%;
            flex-direction: column;
            position: relative;

            .icon-chatbot {
              position: absolute;
              top: -10px;
              left: -3px;
              height: 20px;
              width: 20px;
            }

            .chat-card {
              display: flex;
              align-items: center;
              justify-self: start;

              p {
                display: inline-block;
                border-radius: 10px;
                font-size: 16px;
                background-color: #47a992;
                // background: linear-gradient(to right, #aab396, #a28b55);
                color: #fff;
                max-width: 100%;
                white-space: normal;
                overflow-wrap: break-word;
                word-break: normal;
                padding: 8px;
                //border-radius: 0 15px 15px 15px;
                border-radius: 15px;
              }
            }
            .c-bot {
              display: flex;
              align-items: center;
              gap: 7px;

              p {
                font-size: 10px;
                color: var(--secondary-text-color);
              }

              .date {
                font-size: 10px;
                color: var(--secondary-text-color);
              }
            }
          }

          .user {
            display: flex;
            flex-direction: column;
            padding-left: 40%;
            align-items: end;
            position: relative;

            .modal-action {
              position: absolute;
              right: 10px;
              top: -50px;
              z-index: 999;
              height: fit-content;
              padding: 5px 20px;
              width: fit-content;
              background-color: var(--main-bgc);
              border-radius: 10px;
              -webkit-box-shadow: -5px 5px 16px -6px rgba(43, 41, 43, 1);
              -moz-box-shadow: -5px 5px 16px -6px rgba(43, 41, 43, 1);
              box-shadow: -5px 5px 16px -6px rgba(43, 41, 43, 1);

              .content {
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 7px;

                .unreplied,
                .delete {
                  color: var(--primary-text-color);
                  font-size: 12px;
                  cursor: pointer;
                  font-weight: 300;
                  display: flex;
                  align-items: center;

                  i {
                    color: rgb(21, 153, 21);
                  }
                }
              }
            }

            .chat-card {
              display: flex;
              justify-content: end;

              p {
                display: inline-block;
                border-radius: 10px;
                font-size: 16px;
                //background: linear-gradient(to right, #41b3a2, #a1d6b2);
                background-color: #4bbb8b;
                color: #fff;
                max-width: 100%;
                white-space: normal;
                overflow-wrap: break-word;
                word-break: normal;
                padding: 8px 10px;
                border-radius: 15px;
              }
            }

            .c-bot {
              display: flex;
              align-items: center;
              gap: 7px;

              p {
                font-size: 10px;
                color: var(--secondary-text-color);
              }

              .date {
                font-size: 10px;
                color: var(--secondary-text-color);
              }
            }
          }

          .sending {
            display: flex;
            flex-direction: column;
            padding-left: 45%;
            align-items: end;

            .chat-card {
              display: flex;
              justify-content: end;
              flex-direction: column;

              p {
                display: flex;
                border-radius: 10px;
                font-size: 16px;
                background-color: transparent;
                color: #fff;
                max-width: fit-content;
                white-space: normal;
                border: 1px solid var(--border-color);
                word-wrap: break-word;
                overflow-wrap: break-word;
                word-break: break-all; /* Add this line */
                padding: 8px;
                border-radius: 15px 15px 0 15px;
              }

              .s {
                font-size: 10px;
                color: var(--secondary-text-color);
              }
            }

            .c-bot {
              display: flex;
              align-items: center;
              gap: 7px;

              p {
                font-size: 10px;
                color: var(--secondary-text-color);
              }

              .date {
                font-size: 10px;
                color: var(--secondary-text-color);
              }
            }
          }

          .loader {
            width: 30px;
            margin-top: 10px;
            aspect-ratio: 2;
            --_g: no-repeat
              radial-gradient(
                circle closest-side,
                var(--secondary-text-color) 90%,
                #0000
              );
            background: var(--_g) 0% 50%, var(--_g) 50% 50%, var(--_g) 100% 50%;
            background-size: calc(100% / 3) 50%;
            animation: l3 1s infinite linear;
          }
          @keyframes l3 {
            20% {
              background-position: 0% 0%, 50% 50%, 100% 50%;
            }
            40% {
              background-position: 0% 100%, 50% 0%, 100% 50%;
            }
            60% {
              background-position: 0% 50%, 50% 100%, 100% 0%;
            }
            80% {
              background-position: 0% 50%, 50% 50%, 100% 100%;
            }
          }
        }

        .input-wrapper1 {
          display: flex;
          align-items: center;
          width: 100%;
          padding: 10px 0 0 0 0;
          bottom: 0px;
          position: fixed;
          left: 0;
          right: 0;
          z-index: 100;
          background-color: var(--main-bgc);
          padding: 2px 8px 5px 8px;
          flex-direction: column;

          .suggestions {
            width: 100%;
            justify-content: space-between;
            display: flex;
            gap: 10px;

            .suggestion-item {
              font-size: 12px;
              color: var(--secondary-text-color);
            }
          }

          .input-wrapper2 {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 5px;
            // padding: 5px 0 0 0;
            padding: 2px 8px 3px 8px;

            border-top: none;
            width: 100%;
            margin-top: 10px;

            i {
              font-size: 23px;
              color: var(--secondary-text-color);
              cursor: pointer;
            }

            textarea {
              padding: 10px 30px 10px 15px;
              width: 90%;
              border-radius: 25px;
              background-color: var(--button-color);
              color: var(--secondary-text-color);
              max-height: 120px;
              width: 100%;
              height: 30px;
              border: none;
              overflow-y: auto;
              resize: none;
              box-sizing: border-box;
              scrollbar-width: none; /* For Firefox */
            }

            textarea:focus {
              outline: none;
              border: none;
            }

            .sendicon {
              font-size: 18px;
              background-color: var(--main-bgc);
              padding: 8px;
              border-radius: 50%;
              display: flex;
              color: green;
              align-items: center;
              justify-content: center;
              cursor: pointer;
              border: 1px solid var(--border-color);

              &.disabled {
                cursor: not-allowed;
                color: var(--button-color);
              }
            }

            .sendicon:hover {
              background-color: green;

              &.disabled {
                background-color: var(--hover-color);
              }
            }
          }
        }
      }
    }
  }

  .messageEnrep {
    position: fixed;
    z-index: 999;
    background-color: rgba(0, 0, 0, 0.9);
    bottom: 5%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2px 10px;
    border-radius: 2px;
    p {
      font-size: 12px;
      color: #fff;
    }
  }

  .modal-info {
    top: 50%;
    left: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    background-color: var(--main-bgc);
    width: 95%;
    height: auto;
    padding: 15px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    gap: 20px;

    .top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      span {
        font-size: 14px;
        color: var(--primary-text-color);
        font-weight: 300;
      }

      i {
        cursor: pointer;
        color: var(--primary-text-color);
        font-size: 18px;
      }
    }

    p {
      font-size: 14px;
      color: var(--primary-text-color);
      font-weight: 300;
    }

    p {
      font-size: 14px;
      color: var(--primary-text-color);
    }
  }
  .modal-info-overlay {
    position: fixed;
    height: 100vh;
    z-index: 9998;
    left: 0;
    top: 0;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
  }
}
