.puactive {
  display: flex;
  height: calc(100vh - 70px);
  width: 100%;
  background-color: #f8eded;
  overflow-y: auto;
  padding-left: 15%;

  .user-content {
    width: 100%;
    height: 100%;
    padding: 20px;

    .top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      .left {
        display: flex;
        align-items: center;
        gap: 10px;

        h6 {
          font-size: 18px;
          font-weight: 700;
          color: #434242;
        }
        .opp {
          i {
            font-size: 18px;
            cursor: pointer;
            color: #b0b3b8;
          }
        }
      }

      .right2 {
        display: flex;
        align-items: center;
        gap: 20px;

        .search {
          display: flex;
          align-items: center;
          height: 36px;
          padding-left: 15px;
          font-size: 14px;
          color: #434242;
          border-radius: 25px;
          border: none;
          background-color: #fff;
          border: 1px solid lightgrey;
          width: 250px;
          justify-content: space-between;
          padding: 0 20px;
          input {
            width: 80%;
            height: 100%;
            background-color: transparent;
            border: none;
            color: #434242;
          }
          input:focus {
            outline: none;
          }
          i {
            color: #434242;
            font-size: 25px;
            cursor: pointer;
          }
        }
        button {
          height: 36px;
          font-size: 12px;
          color: #fff;
          border-radius: 7px;
          border: none;
          background-color: green;
          width: auto;
          padding: 0 10px;
        }
      }
    }

    .active {
      width: 100%;
      margin-top: 10px;

      // Table.scss

      table {
        width: 100%;
        border-collapse: collapse;

        thead {
          position: sticky;
          top: -1px;

          tr {
            background-color: #434242;
            color: #fff;

            th {
              border: 1px solid lightgrey;
              padding: 10px;
              text-align: center;
              font-size: 12px;
            }
          }
        }
        tbody {
          tr {
            background-color: #fff;
            color: #fff;

            &.green {
              background-color: rgb(128, 240, 128);
              color: #434242;
            }

            &:hover {
              background-color: #eeedeb;
            }

            td {
              border: 1px solid lightgrey;
              padding: 5px;
              text-align: center;
              font-size: 12px;
              color: #434242;

              .btn-ban {
                background-color: red;
                color: lightgray;
                border: none;
                font-size: 12px;
                border-radius: 3px;
                font-weight: 700;
                width: auto;
                cursor: pointer;
                padding: 5px 10px;

                &:hover {
                  color: #fff;
                }
              }
              .btn-approved {
                background-color: rgb(76, 49, 228);
                color: lightgray;
                border: none;
                font-size: 12px;
                border-radius: 3px;
                font-weight: 700;
                margin-left: 5px;

                cursor: pointer;
                padding: 5px 10px;

                &:hover {
                  color: #fff;
                }
              }

              .hover-img {
                height: 40px;
                width: 40px;
                transition: transform 0.3s ease, z-index 0s ease;
                z-index: 1;
              }

              .hover-img:hover {
                transform: scale(6) translateX(-50%);
                z-index: 10;
              }
            }
          }
        }
      }
      h6 {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 50px;
        color: #434242;
        font-size: 29px;
      }

      .pagination {
        display: flex;
        align-items: center;
        justify-content: start;
        margin-top: 10px;
        gap: 7px;

        button {
          background-color: #434242;
          color: #fff;
          font-size: 12px;
          padding: 5px;
          border: none;
          cursor: pointer;
          border-radius: 3px;
        }

        span {
          color: #434242;
          font-size: 12px;
        }

        button {
          background-color: green;
          color: #fff;
          font-size: 12px;
          padding: 3px;
          border: none;
          cursor: pointer;
          border-radius: 3px;
        }

        select {
          background-color: green;
          color: #fff;
          font-size: 12px;
          padding: 5px;
          border: none;
          cursor: pointer;
          border-radius: 3px;
        }
        select:focus {
          outline: none;
        }
      }
    }
  }
}
.notifDelete {
  position: fixed;
  left: 50%;
  bottom: 2%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  z-index: 999;
  max-width: fit-content;
  padding: 2px 10px;
  p {
    color: #fff;
    font-size: 10px;
    text-align: center;
  }
}
@media (max-width: 789px) {
  .puactive {
    display: flex;
    height: calc(100vh - 70px);
    width: 100%;
    background-color: #f8eded;
    overflow-y: auto;
    padding-left: 0;

    .user-content {
      width: 100%;
      height: 100%;
      padding: 20px;

      .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        .left {
          display: flex;
          align-items: center;
          gap: 10px;

          h6 {
            font-size: 18px;
            font-weight: 700;
            color: #434242;
          }
          .opp {
            i {
              font-size: 18px;
              cursor: pointer;
              color: #b0b3b8;
            }
          }
        }

        .right2 {
          display: flex;
          align-items: center;
          gap: 20px;

          .search {
            display: flex;
            align-items: center;
            height: 36px;
            padding-left: 15px;
            font-size: 14px;
            color: #434242;
            border-radius: 25px;
            border: none;
            background-color: #fff;
            border: 1px solid lightgrey;
            width: 250px;
            justify-content: space-between;
            padding: 0 20px;
            input {
              width: 80%;
              height: 100%;
              background-color: transparent;
              border: none;
              color: #434242;
            }
            input:focus {
              outline: none;
            }
            i {
              color: #434242;
              font-size: 25px;
              cursor: pointer;
            }
          }
          button {
            height: 36px;
            font-size: 12px;
            color: #fff;
            border-radius: 7px;
            border: none;
            background-color: green;
            width: auto;
            padding: 0 10px;
          }
        }
      }

      .active {
        width: 100%;
        margin-top: 10px;

        // Table.scss

        table {
          width: 100%;
          border-collapse: collapse;

          thead {
            position: sticky;
            top: -1px;

            tr {
              background-color: #434242;
              color: #fff;

              th {
                border: 1px solid lightgrey;
                padding: 10px;
                text-align: center;
                font-size: 12px;
              }
            }
          }
          tbody {
            tr {
              background-color: #fff;
              color: #fff;

              &.green {
                background-color: rgb(128, 240, 128);
                color: #434242;
              }

              &:hover {
                background-color: #eeedeb;
              }

              td {
                border: 1px solid lightgrey;
                padding: 5px;
                text-align: center;
                font-size: 12px;
                color: #434242;

                .btn-ban {
                  background-color: red;
                  color: lightgray;
                  border: none;
                  font-size: 12px;
                  border-radius: 3px;
                  font-weight: 700;
                  width: auto;
                  cursor: pointer;
                  padding: 5px 10px;

                  &:hover {
                    color: #fff;
                  }
                }
                .btn-approved {
                  background-color: rgb(76, 49, 228);
                  color: lightgray;
                  border: none;
                  font-size: 12px;
                  border-radius: 3px;
                  font-weight: 700;
                  margin-left: 5px;

                  cursor: pointer;
                  padding: 5px 10px;

                  &:hover {
                    color: #fff;
                  }
                }

                .hover-img {
                  height: 40px;
                  width: 40px;
                  transition: transform 0.3s ease, z-index 0s ease;
                  z-index: 1;
                }

                .hover-img:hover {
                  transform: scale(6) translateX(-50%);
                  z-index: 10;
                }
              }
            }
          }
        }
        h6 {
          display: flex;
          align-items: center;
          justify-content: center;
          margin-top: 50px;
          color: #434242;
          font-size: 29px;
        }

        .pagination {
          display: flex;
          align-items: center;
          justify-content: start;
          margin-top: 10px;
          gap: 7px;

          button {
            background-color: #434242;
            color: #fff;
            font-size: 12px;
            padding: 5px;
            border: none;
            cursor: pointer;
            border-radius: 3px;
          }

          span {
            color: #434242;
            font-size: 12px;
          }

          button {
            background-color: green;
            color: #fff;
            font-size: 12px;
            padding: 3px;
            border: none;
            cursor: pointer;
            border-radius: 3px;
          }

          select {
            background-color: green;
            color: #fff;
            font-size: 12px;
            padding: 5px;
            border: none;
            cursor: pointer;
            border-radius: 3px;
          }
          select:focus {
            outline: none;
          }
        }
      }
    }
  }
  .notifDelete {
    position: fixed;
    left: 50%;
    bottom: 2%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.9);
    z-index: 999;
    max-width: fit-content;
    padding: 2px 10px;
    p {
      color: #fff;
      font-size: 10px;
      text-align: center;
    }
  }
}
