:root {
  --navbar-color: #242526;

  --background-color: #242526;
  --background-dark: #242526;
  --background-soft: #272829;

  --rightbgc: #242526;

  --comment-card: #272829;

  --main-bgc: #18191a;
  --main-bgc2: #18191a;

  --button-color: #3a3b3c;

  --wrapper-color: #3a3b3c;
  --wrapper-post-color: #3a3b3c;

  --border-color: #434242;

  --primary-text-color: #e4e6eb;
  --secondary-text-color: #b0b3b8;
  --dark-text: #b0b3b8;

  --hover-color: #434242;
}

/* Dark mode variables */
[data-theme="dark"] {
  --navbar-color: #242526;

  --background-color: #242526;
  --background-dark: #242526;
  --background-soft: #272829;
  --rightbgc: #242526;

  --comment-card: #272829;

  --main-bgc: #18191a;
  --main-bgc2: #18191a;

  --button-color: #3a3b3c;

  --wrapper-color: #3a3b3c;
  --wrapper-post-color: #3a3b3c;

  --border-color: #434242;

  --primary-text-color: #e4e6eb;
  --secondary-text-color: #b0b3b8;
  --dark-text: #b0b3b8;

  --hover-color: #434242;
}

/* Light mode variables */
[data-theme="light"] {
  --navbar-color: #ffffff;

  --background-color: #f2f3f5;
  --background-dark: #ffffff;
  --background-soft: #f2f3f5;

  --rightbgc: #ffffffff;

  --comment-card: #f2f4f7;

  --main-bgc: #ffffff;
  --main-bgc2: #c4c7c9;

  --button-color: #dfe3ee;

  --wrapper-color: #f0f2f5;
  --wrapper-post-color: #dfe3ee;

  --border-color: lightgray;

  --primary-text-color: #1c1e21;
  --secondary-text-color: #606770;
  --dark-text: #1c1e21;

  --hover-color: #e9ebee;
}
