@import url("../../pages/SCSS/main.scss");

.feed {
  width: 100%;
  display: flex;
  justify-content: center;
  height: calc(100vh - 70px);
  background-color: var(--background-soft);
  overflow-y: auto;

  .lefttt {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    overflow-y: auto;

    .upload {
      width: 500px;
      background-color: var(--background-color);
      margin-bottom: 5px;
      padding: 10px 30px;
      cursor: pointer;
      display: flex;
      gap: 5px;
      justify-content: space-between;

      i {
        font-size: 28px;
        color: green;
        display: flex;
        align-items: center;
        p {
          font-size: 14px;
          color: var(--secondary-text-color);
        }
      }

      .searchbar {
        border: none;
        width: 500px;
        border: 1px solid var(--border-color);
        border-radius: 25px;
        padding-left: 10px;
        font-size: 14px;
        height: 40px;
        color: var(--primary-text-color);
        background-color: var(--background-soft);

        &:focus {
          outline: none;
        }
      }

      .search {
        color: var(--primary-text-color);
        font-size: 24px;
        margin-right: 6px;
      }
    }

    .search-wrapper {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: 5px;
      input {
        border: none;
        width: 500px;
        border: 1px solid var(--border-color);
        border-radius: 10px;
        padding-left: 10px;
        font-size: 14px;
        color: var(--primary-text-color);
        height: 40px;
        background-color: var(--background-soft);
      }
    }

    .placeholder-wrapper {
      width: 500px;
      height: 200px;
      padding: 10px;
    }

    .img-p,
    .bot-p .left-p .user-p,
    .bot-p .left-p .name-date .name,
    .bot-p .left-p .name-date .date,
    .bot-p .right-p .icons-p {
      background-color: var(--button-color);
      animation: blink 1.5s infinite;
    }

    @keyframes blink {
      0% {
        opacity: 1;
      }
      50% {
        opacity: 0.5;
      }
      100% {
        opacity: 1;
      }
    }

    .img-p {
      width: 100%;
      height: 150px;
      border-radius: 1px;
    }

    .bot-p {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .left-p {
      display: flex;
      align-items: center;
      gap: 5px;
      margin-top: 5px;
    }

    .user-p {
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }

    .name-date {
      display: flex;
      flex-direction: column;
      gap: 3px;

      span {
        font-size: 16px;
      }
    }

    .name {
      height: 10px;
      width: 70px;
    }

    .date {
      height: 6px;
      width: 50px;
    }

    .right-p {
      .icons-p {
        height: 14px;
        width: 100px;
      }
    }

    .wrapper {
      width: 500px;
      background-color: var(--background-soft);
      border: 1px solid var(--border-color);
      padding: 0 0 20px 0;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      margin-bottom: 30px;

      .post-img-wrapper {
        position: relative;
        display: flex;
        flex-wrap: wrap;
        gap: 1px; // Adjust spacing between images as needed

        &.one .post-img {
          width: 100%;
          height: auto;
        }

        &.two .post-img {
          width: calc(50% - 0.5px); // Subtract gap/2
          height: auto;
        }

        &.three .post-img {
          width: calc(50% - 0.5px); // Subtract gap/2
          height: 230px;

          &:nth-child(1) {
            width: 100%;
            height: 230px;
          }
        }

        &.four .post-img {
          width: calc(50% - 0.5px); // Subtract gap/2
          height: 230px;
        }

        &.five .post-img {
          object-fit: cover;
          &:nth-child(1),
          &:nth-child(2),
          &:nth-child(3) {
            width: calc(33% - 0.5px); // Subtract gap/3
            height: 180px;
          }

          &:nth-child(4),
          &:nth-child(5) {
            object-fit: cover;
            width: calc(50% - 0.5px); // Subtract gap/2
            height: 200px;
          }
        }

        .overlay {
          position: absolute;
          left: 0;
          top: 0;
          display: flex;
          justify-content: center;
          align-items: center;
          max-width: calc(33% - 0.5px);
          max-height: 180px;
          cursor: pointer;
          background-color: rgba(0, 0, 0, 0.6);
          color: #fff;
          font-size: 14px;
          z-index: 10;
        }
      }

      .caption {
        width: 100%;
        display: flex;
        justify-content: start;
        padding: 15px;

        .caption_c {
          font-size: 14px;
          color: var(--primary-text-color);
          width: 100%;
          text-align: start;
          max-height: 50px;
          overflow: hidden;
          transition: max-height 0.3s ease-in-out;
          display: inline-block;
          white-space: normal;
          overflow-wrap: break-word;
          word-break: break-word;
          text-overflow: ellipsis;

          cursor: pointer;
          /* For multiple lines with ellipsis */
          display: -webkit-box;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2; /* Number of lines to show */
          line-clamp: 2; /* Fallback for non-webkit browsers */

          &.expanded {
            max-height: 100%;
            -webkit-line-clamp: unset; /* Remove the clamp when expanded */
            overflow-y: auto;
            cursor: pointer;
          }
        }
      }

      .action {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 15px 0 15px;
        border-top: 1px solid var(--border-color);

        img {
          width: 35px;
          height: 35px;
          //border-radius: 58% 42% 45% 55% / 38% 28% 72% 62%;
          border: 1px solid #fff;
          border-radius: 50%;
        }

        .pp-name-date {
          display: flex;
          align-items: center;
          gap: 5px;
          position: relative;

          .name-date {
            display: flex;
            flex-direction: column;

            .span {
              font-size: 20px;
              color: var(--secondary-text-color);
              font-weight: 700;
              cursor: pointer;
            }
            p {
              font-size: 8px;
              color: var(--secondary-text-color);
            }
          }

          .response-wrapper {
            position: absolute;
            left: 10px;
            top: -40px;
            opacity: 0;
            transform: translateY(20px) scale(0.1); /* Start from below and slightly scaled down */
            transition: opacity 0.5s ease, transform 0.5s ease;
            position: absolute;
            width: auto;

            &.show {
              opacity: 1;
              transform: translateY(0) scale(1);
              width: auto;
            }

            .response-like1 {
              width: auto;
              display: flex;
              z-index: 111;
              background-color: var(--main-bgc);
              border-radius: 30px;
              box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
              color: var(--primary-text-color);
              border: 1px solid var(--border-color);
              font-size: 10px;
              justify-content: center;
              align-items: center;
              padding: 8px 10px;

              span {
                font-size: 10px;
              }
            }

            .response-like2,
            .response-like3 {
              z-index: 111;
              background-color: var(--main-bgc);
              border-radius: 50%;
              box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.1);
              color: var(--primary-text-color);
              border: 1px solid var(--border-color);
            }

            .response-like2 {
              height: 15px;
              width: 15px;
              margin-left: 8px;
            }

            .response-like3 {
              height: 8px;
              width: 8px;
              margin-left: 5px;
            }
          }
        }

        .icon-btns {
          display: flex;
          justify-content: end;
          align-items: center;
          gap: 15px;

          .icon {
            display: flex;
            align-items: center;
            gap: 2px;
            cursor: pointer;
            position: relative;

            i {
              font-size: 18px;
              color: var(--primary-text-color);
              box-shadow: 5px 5px 10px rgba(0, 0, 0, 0);

              &.liked {
                color: red;
              }
            }
            p {
              font-size: 14px;
              font-weight: 500;
              color: var(--primary-text-color);
            }

            .more-wrapper {
              position: absolute;
              display: flex;
              top: 18px;
              flex-direction: column;
              align-items: end;
              right: 7px;
              z-index: 99;
              .triangle {
                width: 0px;
                height: 0px;
                border-style: solid;
                border-width: 0 0 10px 10px;
                border-color: transparent transparent var(--rightbgc)
                  transparent;
                transform: rotate(0deg);
                margin-bottom: -1px;
              }

              .rectangle {
                padding: 5px 10px;
                background-color: var(--rightbgc);
                border-top-left-radius: 5px;
                border-bottom-right-radius: 5px;
                border-bottom: 1px solid var(--border-color);
                border-bottom-left-radius: 5px;
                z-index: 111;
                display: flex;
                gap: 10px;

                -webkit-box-shadow: -1px 10px 21px -6px rgba(0, 0, 0, 0.75);
                -moz-box-shadow: -1px 10px 21px -6px rgba(0, 0, 0, 0.75);
                box-shadow: -1px 10px 21px -6px rgba(0, 0, 0, 0.75);

                .remove {
                  color: red;
                  font-size: 12px;
                  font-weight: 400;
                  cursor: pointer;
                }
                .report {
                  font-weight: 400;
                  font-size: 12px;
                  color: var(--primary-text-color);
                  cursor: pointer;
                }
              }
            }
          }

          .overlay-more {
            width: 100%;
            height: 100vh;
            position: fixed;
            z-index: 2;
            top: 0;
            left: 0;
          }
        }
      }
    }
  }
}

.modal-report {
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: var(--main-bgc);
  width: 500px;
  padding: 15px;
  border-radius: 10px;

  .title {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 20px;
    color: var(--primary-text-color);
  }

  .reason1 {
    color: blue;
    cursor: pointer;
  }

  .other-reason-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;

    p {
      font-size: 12px;
      color: var(--secondary-text-color);
    }

    .textarea-wrapper {
      display: flex;
      align-items: end;
      gap: 5px;

      textarea {
        height: 80px;
        width: 100%;
        border: 1px solid var(--border-color);
        border-radius: 10px;
        padding-left: 15px;
        padding-top: 10px;
        padding-right: 15px;
        font-size: 14px;
        color: var(--primary-text-color);
        background-color: var(--button-color);

        &:focus {
          outline: none;
        }
      }
      i {
        font-size: 26px;
        color: var(--primary-text-color);
        cursor: pointer;
      }
    }
  }
}

.modal-report-overlay {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.8);
}
.reportMsg {
  position: fixed;
  bottom: 20px;
  background-color: var(--background-color);
  padding: 3px 10px;
  border-radius: 15px;
  display: flex;
  left: 50%;
  transform: translate(-50%, -50%);
  align-items: center;
  -webkit-box-shadow: -5px 7px 13px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -5px 7px 13px -10px rgba(0, 0, 0, 0.75);
  box-shadow: -5px 7px 13px -10px rgba(0, 0, 0, 0.75);

  p {
    font-size: 12px;
    color: var(--primary-text-color);
  }
}

.share-modal {
  .top {
    display: flex;
    justify-content: end;

    i {
      cursor: pointer;
    }
  }
  position: fixed;
  display: flex;
  flex-direction: column;
  bottom: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
  background-color: var(--main-bgc);
  width: 500px;
  padding: 15px;
  border-radius: 10px;
}

.post-deleted-msg {
  bottom: 1%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.8);
  padding: 1px 10px;
  z-index: 999;
  position: fixed;
  p {
    font-size: 10px;
    color: #fff;
  }
}

//TABLET
@media (min-width: 789px) and (max-width: 1080px) {
  .feed {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    background-color: var(--main-bgc2);
    overflow-y: auto;
    padding: 10px 200px;

    ::-webkit-scrollbar {
      display: none;
    }

    .lefttt {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow-y: auto;

      .upload {
        width: 100%;
        background-color: var(--main-bgc2);
        margin-bottom: 5px;
        padding: 10px;
        cursor: pointer;
        display: flex;
        gap: 5px;
        align-items: center;

        i {
          font-size: 25px;
          color: green;
        }

        input {
          width: 100%;
          padding: 8px;
          border: none;
          border-radius: 25px;
          background-color: var(--rightbgc);
        }
        input:focus {
          outline: none;
        }
      }
      .search-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        input {
          border: none;
          width: 500px;
          border: 1px solid var(--border-color);
          border-radius: 10px;
          padding-left: 10px;
          font-size: 14px;
          color: var(--primary-text-color);
          height: 40px;
          background-color: var(--background-soft);
        }
      }
      .placeholder-wrapper {
        width: 100%;
        height: 200px;
        padding: 10px;
      }

      .img-p,
      .bot-p .left-p .user-p,
      .bot-p .left-p .name-date .name,
      .bot-p .left-p .name-date .date,
      .bot-p .right-p .icons-p {
        background-color: var(--button-color);
        animation: blink 1.5s infinite;
      }

      @keyframes blink {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.5;
        }
        100% {
          opacity: 1;
        }
      }

      .img-p {
        width: 100%;
        height: 150px;
        border-radius: 1px;
      }

      .bot-p {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .left-p {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 5px;
      }

      .user-p {
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }

      .name-date {
        display: flex;
        flex-direction: column;
        gap: 3px;
      }

      .name {
        height: 10px;
        width: 70px;
      }

      .date {
        height: 6px;
        width: 50px;
      }

      .right-p {
        .icons-p {
          height: 14px;
          width: 100px;
        }
      }

      .wrapper {
        width: 100%;
        background-color: var(--background-soft);
        padding: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-bottom: 10px;
        border: none;
        position: relative;
        height: 450px;

        .post-img-wrapper {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          gap: 1px; // Adjust spacing between images as needed
          height: 100%;

          // Apply styles based on the number of images
          &.one {
            .post-img {
              width: 100%;
              height: 100%;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
            }
          }

          &.two {
            .post-img {
              width: calc(50% - 0.5px); // Subtract gap/2
            }
          }

          &.three {
            .post-img {
              width: calc(50% - 0.5px); // Subtract gap/2
              height: 50%;

              &:nth-child(1) {
                width: 100%;
                height: 50%;
              }
            }
          }

          &.four {
            .post-img {
              width: calc(50% - 0.5px); // Subtract gap/2
              height: 50%;
            }
          }

          &.five {
            .post-img {
              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(3) {
                width: calc(33% - 0.5px); // Subtract gap/3
                height: 50%;
              }

              &:nth-child(4),
              &:nth-child(5) {
                width: calc(50% - 0.5px); // Subtract gap/2
                height: 50%;
              }
            }
          }

          .overlay {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: calc(33% - 0.5px);
            max-height: 130px;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.6);
            color: #fff;
            font-size: 14px;
            z-index: 10;
          }
        }

        .caption {
          width: 100%;
          display: flex;
          justify-content: start;
          padding: 15px;
          position: absolute;
          bottom: 5px;
          padding-right: 50px;
          height: auto;
          max-height: 170px;

          .caption_c {
            font-size: 14px;
            color: #fff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
            width: 100%;
            text-align: start;
            max-height: 50px;
            overflow: hidden;
            transition: max-height 0.3s ease-in-out;
            display: inline-block;
            white-space: normal;
            overflow-wrap: break-word;
            word-break: break-word;
            text-overflow: ellipsis;

            /* For multiple lines with ellipsis */
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; /* Number of lines to show */
            line-clamp: 2; /* Fallback for non-webkit browsers */

            &.expanded {
              max-height: 100%;
              -webkit-line-clamp: unset; /* Remove the clamp when expanded */
              overflow-y: auto;
            }
          }
        }

        .action {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 5px 20px;
          border-top: none;

          img {
            width: 35px;
            height: 35px;
            border-radius: 58% 42% 45% 55% / 38% 28% 72% 62%;
            border-radius: 50%;
            border: 1px solid var(--primary-text-color);
          }

          .pp-name-date {
            display: flex;
            align-items: center;
            gap: 5px;
            position: absolute;
            top: 15px;
            left: 12px;

            .name-date {
              display: flex;
              flex-direction: column;

              .span {
                font-size: 14px;
                color: #fff;
                font-weight: 700;
                cursor: pointer;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Add text shadow */
                margin-bottom: -7px;
              }

              p {
                font-size: 8px;
                //color: var(--secondary-text-color);
                color: #fff;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Add text shadow */
              }
            }
          }

          .icon-btns {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 15px;
            position: absolute;
            flex-direction: column;
            right: 10px;
            bottom: 10px;

            .icon {
              display: flex;
              align-items: center;
              gap: 2px;
              cursor: pointer;

              i {
                font-size: 20px;
                //  color: var(--primary-text-color);
                color: #fff;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Add text shadow */

                &.liked {
                  color: red;
                  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Add text shadow */
                }
              }
              p {
                font-size: 16px;
                font-weight: 500;
                // color: var(--primary-text-color);
                color: #fff;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Add text shadow */
              }

              .more-wrapper {
                position: absolute;
                display: flex;
                top: 18px;
                flex-direction: column;
                align-items: end;
                right: 7px;
                z-index: 99;
                .triangle {
                  width: 0px;
                  height: 0px;
                  border-style: solid;
                  border-width: 0 0 10px 10px;
                  border-color: transparent transparent var(--rightbgc)
                    transparent;
                  transform: rotate(0deg);
                  margin-bottom: -1px;
                }

                .rectangle {
                  padding: 5px 10px;
                  background-color: var(--rightbgc);
                  border-top-left-radius: 5px;
                  border-bottom-right-radius: 5px;
                  border-bottom: 1px solid var(--border-color);
                  border-bottom-left-radius: 5px;
                  z-index: 111;
                  display: flex;
                  gap: 10px;

                  -webkit-box-shadow: -1px 10px 21px -6px rgba(0, 0, 0, 0.75);
                  -moz-box-shadow: -1px 10px 21px -6px rgba(0, 0, 0, 0.75);
                  box-shadow: -1px 10px 21px -6px rgba(0, 0, 0, 0.75);

                  .remove {
                    color: var(--primary-text-color);
                    font-size: 12px;
                    font-weight: 400;
                  }
                  .report {
                    font-weight: 400;
                    font-size: 12px;
                    color: var(--primary-text-color);
                  }
                }
              }
            }
          }

          .overlay-more {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            height: 100vh;
            z-index: 2;
          }
        }
      }
    }
  }

  .modal-report {
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: none;
    z-index: 100;
    bottom: 0;
    left: 0;
    transform: translate(0, 0);
    background-color: var(--main-bgc);
    width: 100%;
    padding: 15px;
    border-radius: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .title {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 20px;
      color: var(--primary-text-color);
    }

    .reason1 {
      color: blue;
      cursor: pointer;
      font-size: 14px;
    }

    .other-reason-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 20px;

      p {
        font-size: 12px;
        color: var(--secondary-text-color);
      }

      .textarea-wrapper {
        display: flex;
        align-items: end;
        gap: 5px;

        textarea {
          width: 100%;
          border: 1px solid var(--border-color);
          border-radius: 10px;
          padding-left: 15px;
          height: 70px;
          padding-top: 10px;
          padding-right: 15px;
          font-size: 14px;
          color: var(--secondary-text-color);
          background-color: var(--button-color);
          color: var(--primary-text-color);

          &:focus {
            outline: none;
          }
        }
        i {
          font-size: 26px;
          color: var(--primary-text-color);
          cursor: pointer;
        }
      }
    }
  }

  .modal-report-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .reportMsg {
    position: fixed;
    bottom: 20px;
    background-color: var(--background-color);
    padding: 3px 10px;
    border-radius: 15px;
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    -webkit-box-shadow: -5px 7px 13px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px 7px 13px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -5px 7px 13px -10px rgba(0, 0, 0, 0.75);

    p {
      font-size: 12px;
      color: var(--primary-text-color);
    }
  }

  .post-deleted-msg {
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1px 10px;
    z-index: 999;
    position: fixed;
    p {
      font-size: 10px;
      color: #fff;
    }
  }
}

//MOBILE VIEW
@media (max-width: 789px) {
  .feed {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 60px);
    background-color: var(--main-bgc2);
    overflow-y: auto;
    /* Custom scrollbar for WebKit browsers */
    ::-webkit-scrollbar {
      display: none;
    }

    .lefttt {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      flex-direction: column;
      overflow-y: auto;

      .upload {
        width: 100%;
        background-color: var(--main-bgc2);
        margin-bottom: 5px;
        padding: 10px;
        cursor: pointer;
        display: flex;
        gap: 5px;
        padding-top: 15px;
        align-items: center;

        i {
          font-size: 25px;
          color: green;
        }

        input {
          width: 100%;
          padding: 8px;
          border: none;
          border-radius: 25px;
          background-color: var(--rightbgc);
        }
        input:focus {
          outline: none;
        }
      }
      .search-wrapper {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 5px;
        input {
          border: none;
          width: 98%;
          border: none;
          border-radius: 5px;
          padding-left: 15px;
          font-size: 14px;
          color: var(--primary-text-color);
          height: 50px;
          background-color: var(--background-soft);
        }
      }
      .placeholder-wrapper {
        width: 100%;
        height: 200px;
        padding: 10px;
      }

      .img-p,
      .bot-p .left-p .user-p,
      .bot-p .left-p .name-date .name,
      .bot-p .left-p .name-date .date,
      .bot-p .right-p .icons-p {
        background-color: var(--button-color);
        animation: blink 1.5s infinite;
      }

      @keyframes blink {
        0% {
          opacity: 1;
        }
        50% {
          opacity: 0.5;
        }
        100% {
          opacity: 1;
        }
      }

      .img-p {
        width: 100%;
        height: 150px;
        border-radius: 1px;
      }

      .bot-p {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
      }

      .left-p {
        display: flex;
        align-items: center;
        gap: 5px;
        margin-top: 5px;
      }

      .user-p {
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }

      .name-date {
        display: flex;
        flex-direction: column;
        gap: 3px;
      }

      .name {
        height: 10px;
        width: 70px;
      }

      .date {
        height: 6px;
        width: 50px;
      }

      .right-p {
        .icons-p {
          height: 14px;
          width: 100px;
        }
      }

      .wrapper {
        width: 100%;
        background-color: var(--background-soft);
        padding: 0;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        margin-bottom: 10px;
        border: none;
        position: relative;
        height: 450px;

        .post-img-wrapper {
          position: relative;
          display: flex;
          flex-wrap: wrap;
          gap: 1px; // Adjust spacing between images as needed
          height: 100%;

          // Apply styles based on the number of images
          &.one {
            .post-img {
              width: 100%;
              height: 100%;
              border-bottom-left-radius: 10px;
              border-bottom-right-radius: 10px;
            }
          }

          &.two {
            .post-img {
              width: calc(50% - 0.5px); // Subtract gap/2
            }
          }

          &.three {
            .post-img {
              width: calc(50% - 0.5px); // Subtract gap/2
              height: 50%;

              &:nth-child(1) {
                width: 100%;
                height: 50%;
              }
            }
          }

          &.four {
            .post-img {
              width: calc(50% - 0.5px); // Subtract gap/2
              height: 50%;
            }
          }

          &.five {
            .post-img {
              &:nth-child(1),
              &:nth-child(2),
              &:nth-child(3) {
                width: calc(33% - 0.5px); // Subtract gap/3
                height: 50%;
              }

              &:nth-child(4),
              &:nth-child(5) {
                width: calc(50% - 0.5px); // Subtract gap/2
                height: 50%;
              }
            }
          }

          .overlay {
            position: absolute;
            display: flex;
            justify-content: center;
            align-items: center;
            max-width: calc(33% - 0.5px);
            max-height: 130px;
            cursor: pointer;
            background-color: rgba(0, 0, 0, 0.6);
            color: #fff;
            font-size: 14px;
            z-index: 10;
          }
        }

        .caption {
          width: 100%;
          display: flex;
          justify-content: start;
          padding: 15px;
          position: absolute;
          bottom: 5px;
          padding-right: 50px;
          height: auto;
          max-height: 170px;

          .caption_c {
            font-size: 14px;
            color: #fff;
            text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
            width: 100%;
            text-align: start;
            max-height: 50px;
            overflow: hidden;
            transition: max-height 0.3s ease-in-out;
            display: inline-block;
            white-space: normal;
            overflow-wrap: break-word;
            word-break: break-word;
            text-overflow: ellipsis;

            /* For multiple lines with ellipsis */
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2; /* Number of lines to show */
            line-clamp: 2; /* Fallback for non-webkit browsers */

            &.expanded {
              max-height: 100%;
              -webkit-line-clamp: unset; /* Remove the clamp when expanded */
              overflow-y: auto;
            }
          }
        }

        .action {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 5px 20px;
          border-top: none;

          img {
            width: 35px;
            height: 35px;
            border-radius: 58% 42% 45% 55% / 38% 28% 72% 62%;
            border-radius: 50%;
            border: 1px solid var(--primary-text-color);
          }

          .pp-name-date {
            display: flex;
            align-items: center;
            gap: 5px;
            position: absolute;
            top: 15px;
            left: 12px;

            .name-date {
              display: flex;
              flex-direction: column;

              .span {
                font-size: 14px;
                color: #fff;
                font-weight: 700;
                cursor: pointer;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Add text shadow */
                margin-bottom: -7px;
              }

              p {
                font-size: 8px;
                //color: var(--secondary-text-color);
                color: #fff;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Add text shadow */
              }
            }
          }

          .icon-btns {
            display: flex;
            justify-content: end;
            align-items: center;
            gap: 15px;
            position: absolute;
            flex-direction: column;
            right: 10px;
            bottom: 10px;

            .icon {
              display: flex;
              align-items: center;
              gap: 2px;
              cursor: pointer;

              i {
                font-size: 20px;
                //  color: var(--primary-text-color);
                color: #fff;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Add text shadow */

                &.liked {
                  color: red;
                  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Add text shadow */
                }
              }
              p {
                font-size: 16px;
                font-weight: 500;
                // color: var(--primary-text-color);
                color: #fff;
                text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9); /* Add text shadow */
              }

              .more-wrapper {
                position: absolute;
                display: flex;
                top: 18px;
                flex-direction: column;
                align-items: end;
                right: 7px;
                z-index: 99;
                .triangle {
                  width: 0px;
                  height: 0px;
                  border-style: solid;
                  border-width: 0 0 10px 10px;
                  border-color: transparent transparent var(--rightbgc)
                    transparent;
                  transform: rotate(0deg);
                  margin-bottom: -1px;
                }

                .rectangle {
                  padding: 5px 10px;
                  background-color: var(--rightbgc);
                  border-top-left-radius: 5px;
                  border-bottom-right-radius: 5px;
                  border-bottom: 1px solid var(--border-color);
                  border-bottom-left-radius: 5px;
                  z-index: 111;
                  display: flex;
                  gap: 10px;

                  -webkit-box-shadow: -1px 10px 21px -6px rgba(0, 0, 0, 0.75);
                  -moz-box-shadow: -1px 10px 21px -6px rgba(0, 0, 0, 0.75);
                  box-shadow: -1px 10px 21px -6px rgba(0, 0, 0, 0.75);

                  .remove {
                    color: var(--primary-text-color);
                    font-size: 12px;
                    font-weight: 400;
                  }
                  .report {
                    font-weight: 400;
                    font-size: 12px;
                    color: var(--primary-text-color);
                  }
                }
              }
            }
          }

          .overlay-more {
            position: fixed;
            width: 100%;
            top: 0;
            left: 0;
            height: 100vh;
            z-index: 2;
          }
        }
      }
    }
  }

  .modal-report {
    position: fixed;
    display: flex;
    flex-direction: column;
    border-radius: none;
    z-index: 100;
    bottom: 0;
    left: 0;
    transform: translate(0, 0);
    background-color: var(--main-bgc);
    width: 100%;
    padding: 15px;
    border-radius: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    .title {
      font-size: 16px;
      font-weight: 300;
      margin-bottom: 20px;
      color: var(--primary-text-color);
    }

    .reason1 {
      color: blue;
      cursor: pointer;
      font-size: 14px;
    }

    .other-reason-wrapper {
      display: flex;
      flex-direction: column;
      width: 100%;
      margin-top: 20px;

      p {
        font-size: 12px;
        color: var(--secondary-text-color);
      }

      .textarea-wrapper {
        display: flex;
        align-items: end;
        gap: 5px;

        textarea {
          width: 100%;
          border: 1px solid var(--border-color);
          border-radius: 10px;
          padding-left: 15px;
          height: 70px;
          padding-top: 10px;
          padding-right: 15px;
          font-size: 14px;
          color: var(--secondary-text-color);
          background-color: var(--button-color);
          color: var(--primary-text-color);

          &:focus {
            outline: none;
          }
        }
        i {
          font-size: 26px;
          color: var(--primary-text-color);
          cursor: pointer;
        }
      }
    }
  }

  .modal-report-overlay {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 5;
    background-color: rgba(0, 0, 0, 0.3);
  }

  .reportMsg {
    position: fixed;
    bottom: 20px;
    background-color: var(--background-color);
    padding: 3px 10px;
    border-radius: 15px;
    display: flex;
    left: 50%;
    transform: translate(-50%, -50%);
    align-items: center;
    -webkit-box-shadow: -5px 7px 13px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -5px 7px 13px -10px rgba(0, 0, 0, 0.75);
    box-shadow: -5px 7px 13px -10px rgba(0, 0, 0, 0.75);

    p {
      font-size: 12px;
      color: var(--primary-text-color);
    }
  }

  .post-deleted-msg {
    bottom: 1%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.8);
    padding: 1px 10px;
    z-index: 999;
    position: fixed;
    p {
      font-size: 10px;
      color: #fff;
    }
  }
}
